{% extends "base.html.twig" %}
{% block title %}Episode{% endblock %}

{% block body %}       
    <h2>Série {{ program.title }} - Saison {{ season.number }}</h2>
    <h2>{{ episode.number }} / {{ episode.title }}</h2>

    <p>{{ episode.synopsis }}</p>

    {# <a href="{{ path("program_show", { id: program.id }, "season", { id: season.id }) }}">Voir la fiche</a>#}
    <a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}">
    Retour à la liste des épisodes
  </a>
{% endblock %}