{% extends "base.html.twig" %}
{% block title %}Saison #{{ season.id }}{% endblock %}

{% block body %}       
    <h2>Saison {{ season.number }} de {{ program.title }} - {{ season.year }}</h2>
    <p>{{ season.description }}</p>

    <h2>Liste des épisodes</h2>
    <ul>
    {% for episode in episodes %}
        <li>Episode {{ episode.number }} : {{ episode.title }}</li>
       {#<p>{{ episode.synopsis }}</p>
       <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>#}
    {% else %}
      <li>Aucune série trouvée.</li>
    {% endfor %}
    </ul>

    {# <a href="{{ path("program_show", { id: program.id }, "season", { id: season.id }) }}">Voir la fiche</a>#}
  <a href="{{ path("program_show", { id: program.id }) }}">
    Retour à la fiche du programme
  </a>
{% endblock %}